body {
    background-color: #EAECFF;
}

.arrow_abissian {
    width: 55px; 
    height: 55px;
    margin-left: 70px;
    margin-top: 35px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 35px;
    margin-top: -53px;
}

.Sphynx_text {
    margin-left: -75px;
    font-size: 42px;
}

.Sphynx_all img {
    height: 340px;
    width: 505px;
    margin-right: -48px;
    margin-top: -12px;
}

.Sphynx_all {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #EAECFF;
}

@media (max-width: 800px) {
    .arrow_abissian {
        display: none;
    }

    .Sphynx_text {
        text-align: center;
        font-size: 22px;
    }

    .Sphynx_all {
        flex-direction: column;
    }

    .Sphynx_img{
        display: flex;
        justify-content: center;
    }

    .Sphynx_all img {
        height: 240px;
        width: 355px;
        margin-top: -12px;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 26px;
    }
}